---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

.flex-container {
    flex-wrap: wrap;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;    
    padding: 0;
    margin: 0;
    list-style: none;
  }